{% extends 'base.html.twig' %}

{% block body %}
    <div class="contenuIn">

        {% for photo in photos %}
            <img src="{{asset(photo.path)}}" alt="HTML5 Icon" style="width:128px;height:128px;">
        {% endfor %}

    </div>
{% endblock %}

